{% extends "base/homepage_base.html" %}
{% load url from future %}

{% block style-local %}

.table th , .table td {
text-align: center;
}
.bordered {
border:1px solid #DDD;
}

.bs-docs-example::after {
content: "สำหรับผู้ป่วยที่ลงทะเบียนแล้วเท่านั้น";
}
{% endblock %}


{% block content %}

<div class="row">
	<div class="span12">
		<form class="bs-docs-example">
			<legend><strong>สรุปข้อมูล</strong></legend>
			<div class="row">
				<div class="span7 offset2">
					<table class="table table-bordered">
						<tbody>
							{% include 'record/generic.table.row.detail.html' %}
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
