{% extends "base/homepage_base.html" %}
{% load url from future %}
{% load thai_name %}

{% block script-local %}
<script>
$(function() {
	$( "#id_submitted_date" ).datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		changeYear: true,
	});
});
</script>
{% endblock %}

{% block style-local %}

.table th , .table td {
text-align: center;
}
.bordered {
border:1px solid #DDD;
}

.bs-docs-example::after {
content: "สำหรับผู้ป่วยที่ลงทะเบียนแล้วเท่านั้น";
}

{% endblock %}

{% block content %}
<div class='row-fluid'>
	<div class="span12">
		<section>
			<ul class="thumbnails">
				<li class="span12">
					<span class="thumbnail">
						<img  width="1000" src="{{ STATIC_URL }}assets/img/bg1.png" alt="">
					</span>
				</li>
			</ul>
		</section>
	</div>
</div>

{% include 'record/generic.message.html' %}

<div class="row-fluid">
	<div class="span6 offset3">
		<form class="bs-docs-example form-horizontal" method="post" >{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="row-fluid">
				<div class="span12">
					<legend>ข้อมูล ณ วันที่ &nbsp;{{ form.submitted_date }}</legend>
					<div class="row-fluid">
						<div class="span12">
							<div class="control-group">
								<label class="control-label" ><strong>หมายเลขโทรศัพท์*</strong></label>
								<div class="controls">
									{{ form.contact_number }}
									{% if form.contact_number.errors %}
									<span class="help-inline ">{{ form.contact_number.errors }}</span>
									{% endif %}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" ><strong>ช่วงเวลา*</strong></label>
								<div class="controls">
									{{ form.period }}
									{% if form.period.errors %}
									<span class="help-inline ">{{ form.period.errors }}</span>
									{% endif %}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" ><strong>น้ำหนัก*</strong></label>
								<div class="controls">
									<div class="input-append">
									  {{ form.weight }}
									  <span class="add-on">กิโลกรัม</span>
									</div>
									{% if form.weight.errors %}
									<span class="help-inline ">{{ form.weight.errors }}</span>
									{% endif %}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" ><strong>ยาลาซิก*</strong></label>
								<div class="controls">
									{{ form.drug_name}}
									{{ form.drug_size }}
									{{ form.drug_amount}}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" ><strong>ความดัน</strong></label>
								<div class="controls">
									<div class="input-prepend input-append">
									  <span class="add-on">ตัวบน</span>
									  {{ form.pressure_up }}
									  <span class="add-on">มม.ปรอท</span>
									</div>
									{% if form.pressure_up.errors  %}
									<span class="help-inline ">{{ form.pressure_up.errors }}</span>
									{% endif %}
								</div>
								<br>
								<div class="controls">
									<div class="input-prepend input-append">
									  <span class="add-on">ตัวล่าง</span>
									  {{ form.pressure_down }}
									  <span class="add-on">มม.ปรอท</span>
									</div>
									{% if form.pressure_down.errors %}
									<span class="help-inline ">{{ form.pressure_down.errors }}</span>
									{% endif %}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" ><strong>รายงานอาการอื่นๆ</strong></label>
								<div class="controls">
									{{ form.sign }}
									{% if form.sign.errors  %}
									<span class="help-inline ">{{ form.sign.errors }}</span>
									{% endif %}
								</div>
							</div>
							<div class="control-group">
								<hr>
								<button type="submit" class="btn btn-primary btn-large btn-block " >เพิ่มข้อมูล</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endblock %}
