{% extends "base/homepage_base.html" %}
{% load url from future %}

{% block content %}


<section>
	<div class="row">
		<div class="span12">
			<div class="row-fluid">
				<div class="span2">
					{% include "dashboard/navlist.html" with page="register" %}
				</div>
				<div class="span10">
					<legend>ลงทะเบียนผู้ป่วยใหม่</legend>
					{% if messages %}
					{% for message in messages %}
					<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
						{{ message }}
					</div>
					{% endfor %}
					{% endif %}
					<div class="row-fluid">
						<div class="span6">
							<form enctype="multipart/form-data" method="post" >{% csrf_token %} 
								{{ form.non_field_errors }}
								<table class="table ">
									<tbody>
										{% for field in form %}
										<tr class="{% cycle 'well' 'well' '' '' '' %}">
											<td width="100%">{{ field.label_tag }}</td>
											<td>{{ field }}{% if field.errors %}
												<span class="help-inline alert alert-error">{{ field.errors }}</span>
												{% endif %}
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								<button type="submit" class="btn btn-large btn-block btn-primary">ลงทะเบียน</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
<!-- Blocks for logged in user -->
