{% load url from future %}

{% block style-local %}

<style type="text/css">

body > .navbar {
	font-size: 17px;
}

</style>

{% endblock %}

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<div class="container">
			<!-- Be sure to leave the brand out there if you want it shown -->
			<ul class="nav">
		    	<li><a href="{% url 'homepage' %}">หน้าหลัก</a></li>
		    	<li><a href="{% url 'record-create' %}">ส่งข้อมูลถึงเรา</a></li>
		    	<li><a href="{% url 'about-us' %}">เกี่ยวกับเรา</a></li>
		    	<li><a href="{% url 'contact-us' %}">ติดต่อเรา</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'record-pending' %}">แผงควบคุม</a></li>
				{% endif %}
		    </ul>
		    {% if not user.is_authenticated %}
			<div class="navbar-form pull-right">
				<a class="btn btn-inverse" href="{% url 'login' %}">เข้าสู่ระบบ</a>
			</div>
			{% else %}
			<form class="navbar-form pull-right" method="post" action="{% url 'django.contrib.auth.views.logout' %}">
				{% csrf_token %}
				<button class="btn btn-danger" type="submit" value="logout" >
					<i class="icon-off icon-white"></i>&#032;ออกจากระบบ
				</button>
				<input type="hidden" name="next" value="" />
			</form>
			{% endif %}
    	</div>
    </div>
</div>
