<html>
<body>
<h2>EasyCare สวัสดีค่ะ วันนี้สุขภาพของท่านเป็นอย่างไรบ้างค่ะ</h2> 
<h3>ท่านสามารถส่งข้อมูลบอกเราได้ทาง </h3>
<ol>
	<h3><li>เวปไซท์ (Website)</li></h3>
	<p><h2><a href='http://easycare.sit.kmutt.ac.th/records/create/'>ได้ที่นี่</a></h2></p>
	<h3><li>ระบบเอสเอ็มเอส(SMS)</li></h3>
	<p>ด้วยการส่งข้อความมาที่ <strong><h2>080-258-0593</h2></strong></p>
	<p>ตัวอย่างเช่น..<strong>"p1 w60.5 bp120/80 l500mg1.5 หน้าแข้งมีอาการกดบุ๋ม"</strong> </p>
	<h3><li>ระบบตอบรับอัตโนมัติ(IVR)</li></h3>
	<p>ด้วยการโทรมาที่ <strong><h2>02-470-9827</h2></strong> และปฏิบัติตามขั้นตอนของระบบ</p>
</ol>
<h3>ศูนย์โรคหัวใจ โรงพยาบาลจุฬาลงกรณ์ ขอบคุณค่ะ</h3>
</body>
</html>