{% extends "base/homepage_base.html" %}
{% load url from future %}


{% block content %}

<div class='row'>
	<div class="span12">
		<section>
			<ul class="thumbnails">
				<li class="span12">
					<span class="thumbnail">
						<img  width="1000" src="{{ STATIC_URL }}assets/img/bg1.png" alt="">
					</span>
				</li>
			</ul>

		</section>
	</div>
</div>
<div class="row">
	<div class="span12">

		<h2>ติดต่อเรา </h2>
		<br>
		<p>คลินิกโรคหัวใจล้มเหลว ศูนย์โรคหัวใจ โรงพยาบาลจุฬาลงกรณ์ </p>
		<p>Email: kcmh.hf@gmail.com</p>
		<p>หมายเลขโทรศัพท์ : 081-383-9302</p>

		<hr class="soften">
	</div>
</div>

{% endblock %}


