{% extends "base/homepage_base.html" %}
{% load url from future %}

{% block script-local %}


{% endblock %}

{% block content %}

<div class="row">
	<div class="marketing">

		<h1>คลินิกโรคหัวใจล้มเหลว</h1>
		<p class="marketing-byline">ศูนย์โรคหัวใจ โรงพยาบาลจุฬาลงกรณ์ </p>

		<hr class="soften">

	</div>

	<div class="marketing">

		<h3>เคล็ดลับใช้ชีวิตอยู่กับโรคหัวใจล้มเหลวได้อย่างมีความสุข</h3>
		<h3>คำตอบของเคล็ดลับอยู่ที่ 3 ขั้นตอนสำคัญ</h3>

		<br>

		<div class="row-fluid">
			<div class="span4">
				<img class="marketing-img" src="{{ STATIC_URL }}assets/img/1.png">
				<h2>ชั่งน้ำหนักทุกวัน </h2>
			</div>
			<div class="span4">
				<img class="marketing-img" src="{{ STATIC_URL }}assets/img/2.png">
				<h2>ตรวจหน้าแข้งว่ากดบุ๋มหรือไม่</h2>
			</div>
			<div class="span4">
				<img class="marketing-img" src="{{ STATIC_URL }}assets/img/3.png">
				<h2>รับประทานยาสม่ำเสมอ</h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<img class="marketing-img" src="{{ STATIC_URL }}assets/img/1-detail.png">
			</div>
			<div class="span4">
				<img class="marketing-img" src="{{ STATIC_URL }}assets/img/2-detail.png">
			</div>
			<div class="span4">
				<img class="marketing-img" src="{{ STATIC_URL }}assets/img/3-detail.png">
			</div>
		</div>
	</div>
</div>

{% endblock %}
